//Primary Colors
$primary: #37464f;
$primary_light: #62717b;
$primary_extLight: #eceff1;
$primary_dark: #101f27;

//Secondary Colors
$secondary: #1de8b5;
$secondary_light: #6effe8;
$secondary_dark: #00b585;
